
#cover {
	background: url("images/girl-chasing.jpg") center no-repeat;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	color: white;
}

.song {
	margin-top: 560px;
}

nav ul {
	font-size: 20.5px;
	padding-top: 6px;
}

a {
	font-weight: bold;
}


#card-group {
	margin-top: 20px;
	
}

#card-column {
	margin-top: 20px;
}

img {
	max-width: 100%;
}

#intro {
	background: url("images/intro.jpeg") center no-repeat;
	background-size: cover;
	margin-top: 20px;
	margin-bottom: 25px;
}

#intro-content {
	padding: 45px;
}

#intro-text {
	background: rgba(0,0,0,0.6);
    color: white;
    padding: 20px;
}

footer {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  background:gray;
}

footer p {
  margin-bottom: .25rem;
  color:white;
  font-size: 18px;
}

footer a {
	color: green;
	opacity: 0.8;
}

#apply {
	width:100%;
}

iframe {
	width: 100%;
}

#boy {
	float: left;
}

.thumbnail{
	  color: #888;
	  font-family: Rockwell,Georgia,Arial;
	  font-size: 12px;
	  letter-spacing: 0.15em;
	  /*text-transform: uppercase;*/
	  background-color: #fff;
	  display: block;
	  padding: 4px;
	  margin-bottom: 5px;
	  line-height: 1.42857143;
	  border: 1px solid #ddd;
	  border-radius: 4px;
	  -webkit-transition: border .2s ease-in-out;
	  -o-transition: border .2s ease-in-out;
	  transition: border .2s ease-in-out;
	  text-align: center;
}

iframe{
	height:475px;
}

.modal-title{
	text-align: center;;
}

#detail{
	color: #888;
	  font-family: Rockwell,Georgia,Arial;
	  letter-spacing: 0.15em;
	  /*text-transform: uppercase;*/
	  background-color: #fff;
	  display: block;
	  padding: 4px;
	  margin-bottom: 5px;
	  line-height: 1.42857143;
	  border: 1px solid #ddd;
	  border-radius: 4px;
	  -webkit-transition: border .2s ease-in-out;
	  -o-transition: border .2s ease-in-out;
	  transition: border .2s ease-in-out;
	  text-align: center;
}
.alert {
	display: none;
}

.card-group{
	  color: #888;
	  background-color: #fff;
	  display: block;
	  padding: 4px;
	  margin-bottom: 5px;
	  line-height: 1.42857143;
	  border: 1px solid #ddd;
	  border-radius: 4px;
	  -webkit-transition: border .2s ease-in-out;
	  -o-transition: border .2s ease-in-out;
	  transition: border .2s ease-in-out;
	  text-align: center;
}

#search{
	margin-left: 20px;
	padding-top: 5px; 
}